@import "../../global.scss";

.menu{
  background-color: $mainColor;
  color: $mainColor;
  width: 300px;
  height: 400px;
  position: fixed;
  top: -400px;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  border-radius: 30px;

  &.active{
    top: 0;
    background-color: white;
  }
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
    color: $mainColor;
    margin-top: 60px;
    width: 45%;

    li{
      margin-bottom: 30px;
      a{
        font-size: inherit;
        color: inherit;
        text-decoration: none;
      }
      &:hover{
        font-weight: 500;
      }
    }
  }
}